html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    height: auto !important;
}

p {
    padding: 0;
    margin: 0;
}

#header {
    position: relative;
    width: 100%;
    height: 317px;

    background: url(/i_center/header_bg.png) repeat-x left top;
}

.header_center {
    position: relative;
    width: 968px;
    margin: 0 auto;
}

.header_center .auth {
    position: absolute;
    top: 0;
    left: 13px;

}

.header_center .auth input {
    color: #a8a8a8;
    font-family: Arial, sans-serif;
    font-size: 13px;
    width: 120px;
    height: 23px;
    padding: 0 0 0 7px;
    margin: 5px 10px 0 0;
    border: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.header_center .auth .auth_button {
    color: #fff;
    font-size: 19px;
    width: 70px;
    padding: 0;
    text-align: center;
    background: url(/i_center/auth_button.png) repeat-x left top;
    cursor: pointer;
}

.header_center .auth span {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin-top: 5px;
}

.header_center .auth a {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

/******************************** поиск ********************/
.search {
    position: absolute;
    top: 8px;
    right: 200px;
    line-height: 19px;
}

.search .search_field {
    border: #c7c6c6 solid 1px;
    width: 152px;
    height: 15px;
    color: #b6b6b6;
    font-family: Arial;
    font-size: 16px;
    padding-left: 5px;
    float: left;
}

.search .search_button {
    width: 18px;
    height: 18px;
    background: url(/i_center/search_button.gif) no-repeat left top;
    border: 0;
    margin: 1px 0 0 4px;
    border: #c7c6c6 solid 1px;
    cursor: pointer;
}

/******************************** маленькие иконки в шапке ********************/
.header_center .menu_icons {
    height: 18px;
    position: absolute;
    top: 10px;
    right: 23px;

}

.header_center .menu_icons .icons {
    height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.header_center .menu_icons .icons li {
    list-style: none;
    margin: 0 0 0 28px;
    padding: 0;
    width: 13px;
    height: 13px;
    float: left;

}

.header_center .menu_icons .icons a {
    width: 13px;
    height: 13px;
    display: block;
}

.header_center .menu_icons .icons .item1 a {
    background: url(/i_center/home_icon.gif) no-repeat left center;
}

.header_center .menu_icons .icons .item2 a {
    background: url(/i_center/star_icon.gif) no-repeat left center;
}

.header_center .menu_icons .icons .item3 a {
    background: url(/i_center/sitemap_icon.gif) no-repeat left center;
}

.header_center .menu_icons .icons .item4 a {
    background: url(/i_center/mail_icon.gif) no-repeat left center;
}

/************************************************************/

.header_logo {
    height: 227px;
    width: 968px;
    position: relative;
    top: 33px;
    background: url(/i_center/header_img.png) no-repeat left top;

}

.header_logo .contacts {
    position: absolute;
    top: 23px;
    right: 19px;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 23px;
}

.header_logo .sitename {
    position: absolute;
    text-align: right;
    top: 64px;
    right: 19px;

}

.header_logo .sitename p {
    color: #028fc3;
    font-family: Times New Roman, serif;
    font-size: 20px;
    text-align: right;
    padding: 0;
    margin: 15px 15px 0 0;

    line-height: 25px
}

.header_logo .sitename .big {
    font-size: 30px;
    font-weight: 0;
    line-height: 35px;
    margin: 0;
}

.header_logo .logo a {
    position: absolute;
    display: block;
    width: 55px;
    height: 70px;
    top: 119px;
    right: 186px;
    background: url(/i_center/gerb.png) no-repeat left center;
    z-index: 2;
}

.header_logo .shadow {
    width: 243px;
    height: 10px;
    position: absolute;
    top: 195px;
    right: 20px;
    background: url(/i_center/shadow.png) no-repeat left top;
    z-index: 1;

}

/************* mainmenu *************************/
#mainmenu {
    position: relative;
    width: 946px;
    height: 55px;
    background: url(/i_center/mainmenu.png) no-repeat left top;
    top: 33px;
    left: 7px;
}

#mainmenu  p {
    position: absolute;
    width: 240px;
    height: 55px;
    line-height: 55px;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 21px;
    margin-left: 16px;
}

#mainmenu .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 55px;
    line-height: 55px;
    position: absolute;
    left: 0; /* 273px  */
}

#mainmenu .menu li {
    list-style: none;
    margin: 0 5px 0 0;
    padding: 0 0 0 0;
    float: left;
    height: 55px;
    line-height: 55px;
    position: relative;
}

#mainmenu .menu li a {
    padding: 9px 16px 6px 16px;
    color: #fff;
    text-decoration: none;

    font-size: 21px;
    font-family: Arial, sans-serif;
}

#mainmenu .menu li a:hover {
    color: #026184;
    background: url(/i_center/menu_hover.png) repeat-x left top;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

#mainmenu .menu li .selected {
    color: #026184;
    background: url(/i_center/menu_hover.png) repeat-x left top;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#mainmenu ul li ul {
    display: none;
    position: absolute;
    left: -1px;
    top: 59px;
    width: 250px;
    min-height: 100px;
    background: url(/i_center/menu_bg.png) repeat;
    padding: 5px 10px 0 10px;
    z-index: 1000;
    margin-top: -15px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border: #c2c2c2 solid;
    border-width: 0 1px 1px 1px;
    box-shadow: 0px 1px 1px darkgrey;
}

#mainmenu .menu li ul  li:hover {
    background: transparent;
    borderr-width: 0px;
    box-shadow: 0px 0px 0px;

}

#mainmenu .menu li ul  li {
    margin: 0 0 10px 0;
    padding: 0 0 0 0;
    height: auto;
    width: 250px;
    float: none;
    background: transparent;
}

#mainmenu .menu  li ul  li  a {
    text-decoration: none;
    color: #007ca9;
    line-height: 0px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

#mainmenu .menu  li ul  li  a.hover {
    color: #026184;
    /** background: url(/i_center/menu_hover.png) repeat-x left top; */

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#mainmenu .menu li ul li .selected {
    color: #e55c00;
}

#mainmenu .menu li a.hover {
    color: #026184;
    background: url(/i_center/menu_hover.png) repeat-x left top;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*********************************************/
#center {
    position: relative;
    width: 968px;

    height: 100%;
    margin: 0 auto 25px auto;
    padding: 20px 0 0 0;
}

#center .sidebar {
    position: relative;
    width: 230px;
    float: right;
    margin: 0 0 0 20px;

}

#center .content {
    float: left;
    width: 690px;
    margin: 0 0 0 21px;
    overflow: hidden;

}

#center .map {
    position: relative;
    margin: 20px 0 0 21px;
    color: #028fc5;
    font-size: 22px;
    font-family: Arial, sans-serif;
    height: 172px;
}

#center .map .y_map {
    position: absolute;
    top: 0;
    left: 185px;
    width: 343px;
    height: 172px;
    background: url(/i_center/map.jpg) no-repeat left center;
}

/********** pathway *********************/

.pathway {
    color: #595959;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.pathway .home {
    display: block;
    width: 19px;
    height: 19px;
    float: left;
    margin: 0 17px 0 0;
    background: url(/i_center/path_home.gif) no-repeat left center;

}

.pathway  .separator {

    color: #1ca3d5;
}

.pathway a {
    color: #595959;
    font-size: 13px;
    font-family: Arial, sans-serif;

}

.pathway a:hover {
    text-decoration: none;

}

/******************* text ********************/
.clear {
    clear: both;
}

.text_heading {
    margin: 30px 0 20px 0;
    font-size: 30px;
    line-height: 20px;
    color: #0289bb;
    font-family: Arial, sans-serif;
}

.cont_text p {
    color: #323232;
    font-size: 14px;
    font-family: Arial, sans-serif;
    margin: 0 0 20px 0;

}

.cont_text h2 {
    color: #323232;
    font-size: 15px;
    font-family: Arial, sans-serif;
    margin: 0 0 20px 0;

}

.cont_text ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.cont_text ul  li {
    list-style: none;
    margin: 0 5px 0 0;
    padding: 0 0 0 0;

}

/****************** Новости ********************/
.sidebar .item {

    text-align: left;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
}

.sidebar .item .img {
    width: 39px;
    height: 41px;
    float: left;
    overflow: hidden;

    margin-top: 17px;
}

.sidebar .item .descript {
    padding-left: 50px;

}

.sidebar .item p {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #323232;
    font-family: Arial, sans-serif;
}

.sidebar .item .descript .date {
    color: #000;
    font-size: 12px;
}

.sidebar .item .descript .title a {
    color: #323232;
    font-family: Arial, sans-serif;

}

.sidebar .item .descript .title a:hover {
    text-decoration: none;
}

/******************** footer ************************/
.pad {
    height: 103px;
    clear: both;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 103px;
    width: 100%;
    clear: both;

}

#footer .center {
    position: relative;
    height: 103px;
    width: 968px;
    background: url(/i_center/footer_bg.png) repeat-x left top;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
}

#footer .contacts {
    position: absolute;
    top: 37px;
    left: 13px;
}

#footer .contacts p {
    color: #007ba9;
    font-family: Arial, sans-serif;
    font-size: 21px;
    margin: 0;
    padding: 0;
}

#footer .made a {
    position: absolute;
    display: block;
    top: 30px;
    right: 38px;
    width: 89px;
    height: 47px;
    background: url(/i_center/invoice.png) no-repeat left top;
}

table {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
}

tr {
    vertical-align: top;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

#save {
    width: 100px;
}