
@font-face {
    font-family: 'AGLettericaCondensedLight';
    src: url('/fonts/AGLettericaCondensedLight-Roman.eot');
    src: url('/fonts/AGLettericaCondensedLight-Roman.eot?#iefix') format('embedded-opentype'),
         url('/fonts/AGLettericaCondensedLight-Roman.woff') format('woff'),
         url('/fonts/AGLettericaCondensedLight-Roman.ttf') format('truetype'),
         url('/fonts/AGLettericaCondensedLight-Roman.svg#AGLettericaCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
body{
	height:100%;
    min-height: 100%;
    height: auto !important;
	position:relative;
	 font-family: Arial;
}
.inner_body{
background:url(/i_plus/city_inner.jpg) no-repeat center top;

}
p{margin:0;padding:0;}
 ul{list-style:none;margin:0;padding:0;}
 ul li{list-style:none;margin:0;padding:0;}
 h2 {
color: #000000;
font-size: 30px;
padding: 0;
     margin: 15px 0;
font-family: 'AGLettericaCondensedLight';
font-weight: 100;
     border-bottom: rgb(2, 116, 182) 1px solid;
}
 h2.con_title {
color: #016199;
font-size: 30px;
padding: 0;
font-family: 'AGLettericaCondensedLight';
font-weight: 100;
}
.clear{  clear:both;}

a{text-decoration:underline;}
a:hover{text-decoration:none;}

.center{
  width:1012px;
  margin:0 auto;
  position:relative;

}

.header_top{
  width:100%;
  height:54px;
   background:url(/i_plus/header_top_bg.png) repeat-x left top;
}

.account_links{
  position:absolute;
  top:15px;left:33px;
    font-family:Arial;
   color:#ecf0f2;
   font-size:22px;
}
.account_links a{
   font-family:Arial;
   color:#ecf0f2;
   font-size:22px;
   text-decoration:none;
}
.account_links a:hover{
     text-decoration:underline;
}











#header_main{

width:100%;
height:610px;
   background:url(/i_plus/city.jpg) no-repeat center top;
}

#header_main .center{

   height:610px;
   background:#f0efef;
   border:1px solid #fff;
}
#header{

width:100%;
height:270px;
}
#header .center{

   height:270px;
   background:#f0efef;
   border:1px solid #fff;
}


.pasp{

position:relative;
  height:126px;
}
.logo a{
   position:absolute;
   display:block;
   width:251px;
   height:70px;
   top:33px;left:30px;
   background:url(/i_plus/logo.png) no-repeat left center;
   z-index:3;
}

.gerb {
   position:absolute;
   width:50px;
   height:78px;
   top:35px;right:323px;
   background:url(/i_plus/gerb.png) no-repeat left center;
   z-index:3;
}
.phone {
   position:absolute;
   width:310px;
   height:59px;
   top:37px;right:25px;
   background:url(/i_plus/phone.png) no-repeat left center;
   z-index:3;
}
.city {
   position:absolute;
   top:91px;right:36px;
   z-index:3;
   font-family:'AGLettericaCondensedLight';
   color:#016199;
   font-size:19px;
   }

.shadow_header{
  position:absolute;
  width:946px;
  height:16px;
  left:0;bottom:-16px;
   background: url(/i_plus/shadow_slider.png) no-repeat left bottom;
   z-index:1;
}













/******************************** поиск ********************/
.search{
   position:absolute;
    width:243px;
   top:16px;right:31px;
   line-height:21px;
}
.search .search_field{
 position:absolute;border:0;
 width:205px; height:21px;
 color:#000;  font-family:Arial;  font-size:14px;
 background:url(/i_plus/search_field.png) no-repeat left center;
 top:0px; left:0;
 padding:0 0 0 15px;
}
.search .search_button{
 position:absolute;
 width:23px; height:21px;
 background:url(/i_plus/search_button.png) no-repeat left top;
 border:0;
 top:0px; right:0;
 cursor:pointer;
}

/************** slider **************************/

.slider{
  position:relative;
  width:948px;
  height:395px;
  margin:0 0 0 32px;
   background: url(/i_plus/slider_bottom_bg.png) no-repeat left bottom;
   z-index:1;
}
.slider .shadow{
  position:absolute;
  width:946px;
  height:16px;
  left:0;bottom:-16px;
   background: url(/i_plus/shadow_slider.png) no-repeat left bottom;
   z-index:1;
}
#slider{
  position:relative;
  width:948px;
  height:341px;

   /*background:#fff url(/i_plus/header_img.png) no-repeat left top;*/
   z-index:1;
}

/************* mainmenu *************************/
#mainmenu {
 position: relative;
 width:1012px;
 height:73px;
  background:url(/i_plus/menu_bg.png) repeat-x;
}

#mainmenu .menu {

 margin: 0;
 padding: 0;
 position: relative;
 width:1012px;
 top:5px;
}
#mainmenu .menu ul{
 list-style: none;
 margin:0;
 padding: 0;

}

#mainmenu .menu li {
 list-style: none;
 margin:0px 0 0 0;
 padding: 0px 0px 0px 0;
 float:left;
 position: relative;
 height:62px;
 line-height:62px;
  background:url(/i_plus/menu_separator.png) no-repeat left top;
}
#mainmenu .menu li.first {
  background:none;
}
#mainmenu .menu li a {
  display:block;
  padding:0 39px 0 28px;
  color: #01659f;
  margin: 0 0 0px 0;
  text-decoration:none;
  font-size: 17px;
  height:62px;
  line-height:62px;
  font-family: 'AGLettericaCondensedLight';
}
#mainmenu .menu li a:hover, #mainmenu .menu .selected a  {
  color: #fff;
  text-decoration:none;
  background:#0168a4;
}


#mainmenu .menu ul li ul {
  display: none;
  position: absolute;
  left: 0px;
  top:62px;
  width: 232px;
  min-height:100px;
  background:url(/i_plus/menu_hover.png) repeat;
  padding: 20px 0px;
  z-index: 1000;
  border:1px solid #68a1c2;
 }

#mainmenu .menu li ul  li {
  margin: 0 0 5px 0;
  padding:9px 0 0 27px;
  height:auto;
  line-height:13px;
   width:165px;
  background:transparent;
}

#mainmenu .menu  li ul  li  a {
  text-decoration:none;
  padding:9px 0 0 0;
  margin:0 ;
  color: #01629a;
  line-height: 13px;
    height:auto;
  font-size: 13px;
  font-family: Arial;
  border-top:1px solid #dddada;
}
#mainmenu .menu  li ul  li.first  a {

  border-top:0;
}

#mainmenu .menu  li ul  li a:hover, #mainmenu .menu li ul .selected a{
  text-decoration:underline;



}


#mainmenu .menu .selected  ul li a{
        background:transparent;
		  color: #01629a;
  }









/****************************************/
.page{
    height: 1%;
   position: relative;
   overflow: hidden;
   border-width:0 1px 1px 1px;
   border-color:#eaeaea;
   border-style:solid;
   margin:0 auto 38px auto;
  background:#fff;
   padding:0 30px 20px 30px;
   width: 952px;
}
.page p{

 color:#5d5d5d;
   font-size: 13px;
   font-family: Arial;
   margin:0 0 15px 0;

}
.content{
    position: relative;
    padding:36px 58px 0px 0px;
    float: left;
    margin: 0 0px 0 0;
    width: 587px;

}
.sidebar{
float: left;
position: relative;
margin: 0 -304px 0 0px;
width: 304px;
}

.artical img{float:left; margin:0 20px 15px 0;}

.artical h2{
   color:#3b7496;
   font-size: 38px;
   line-height: 38px;
  font-family: 'AGLettericaCondensedLight';
  font-weight:100;
}
.artical p{
   color:#323232;
   font-size: 13px;
   font-family: Arial;
   margin:0 0 15px 0;
}


.pathway{
   position: absolute;
   bottom:35px;
   left:29px;
   color:#0f6ead;
   font-size: 15px;
  font-family: Arial;
  padding:0 0 0 20px;
}
.pathway .main{
   position: absolute;
   top:0px;
   left:0px;
   display:block;
   background:url(/i_plus/home_icon.png) no-repeat;
   width:15px;
   height:14px;


}
.pathway a{
   color:#0f6ead;
   text-decoration:none;
}
.pathway a:hover{
     text-decoration:underline;
}



.page .further{
 position: relative;
 display:block;
   bottom:0px;
   right:0;
   width:90px;
   height:37px;
   float:right;
   background:url(/i_plus/further.png) no-repeat;

}
/****************************************************/
#block_infos{

   position: relative;

    margin:16px 0 0 31px;

}
#block{

   position: relative;
    padding:0;
    margin:0 127px 0 0px;
  width:231px;
 height:300px;
 overflow:hidden;
}
#block .further{
 position: absolute;
 display:block;
   bottom:0px;
   right:0;
   width:90px;
   height:37px;
   background:url(/i_plus/further.png) no-repeat;

}
#block h2{
  margin:0 0 15px 0px;

   color:#0000;
   font-size: 39px;
   padding:0px;
   font-family: 'AGLettericaCondensedLight';
   font-weight:100;

}

#block p{
  font-family: Arial;
   color:#5d5d5d;
   font-size: 13px;
   padding:0 0 19px 0;

}
#block img{
 margin:0 0 30px 20px;

}

.about{

 float:left;
 margin:0;
}

.services{

 float:left;
}

.educational{

 margin:0;
}

.news{
  width:280px;
  margin:40px 0 40px 43px;

}
.news h2{
color:#0000;
   font-size: 39px;
   padding:0px;
   font-family: 'AGLettericaCondensedLight';
     font-weight:100;
}


.news .item{
  position:relative;
   margin:0 0 37px 0;
   padding:0;
   width:280px;

}
.news img{float:left; margin:0 17px 0 0;}
.news .description{margin:0 0 0 106px;}

.news .item.further{

   bottom:0px;
   right:0px;


}
.news .item .date{
   font-family: Arial;
   color:#01629a;
   font-size: 10px;
   margin:0px 0px 0 0;
}
.news .item .title{
   font-family: Arial;
   color:#000;
   font-size: 16px;
   margin:0px 0px 0 0;

}
.news .item p{
   font-family: Arial;
   color:#323232;
   font-size: 13px;
   margin:0px 0px 0 0;

}




/*****************************************************/
#services ul li{
 float:left;
 width:180px;
 margin:0 58px 39px 0;
}

#services ul li .title{
color:#035686;
   font-size: 20px;
 margin:0 0 12px 0;
   font-family: 'AGLettericaCondensedLight';
     font-weight:100;
}





/******************** footer ************************/
.pad {
  height: 349px;
  clear: both;
}
#footer{
  position: absolute;
  bottom: 0;
  height: 210px;
  width:100%;
  clear: both;
  background:url(/i_plus/footer.png) repeat-x left top;
   overflow:hidden;
   }
#footer .center{
 position: relative;
  margin:0 auto;

   width: 1100px;
   }
#footer h3{
  color:#c9c9c9;
  padding:0;
  margin:0 0 33px 0;
  font-family: 'AGLettericaCondensedLight';
  font-size:24px;

}
#footer .phone{
  position: absolute;
  top:-25px;left:62px;
  width:177px; height:98px;
  background:url(/i_plus/phone.png) no-repeat left top;

}
#footer .contacts{
  position: absolute;
  top:54px;left:29px;
  width:300px;
  }
#footer  p{
  color:#c9c9c9;
  font-family:Arial;
  font-size:13px;
  margin:0;padding:0;
}

#footer .service{
  position: absolute;
  top:54px;left:322px;
  width:230px;
  }
#footer .service li{
  margin:0 0 18px 0;
   line-height:13px;
  }

#footer .service li a{
   color:#c9c9c9;
  font-family:Arial;
  font-size:13px;
  text-decoration:none;
  }
#footer .service li a:hover{
    text-decoration:underline;
  }

#footer .foot_news{
  position: absolute;
  top:54px;left:624px;
  width:210px;
  }

#footer  .foot_news p{

  font-size:12px;
  margin:0 0 34px 0;padding:0;
}


#footer .made a{
  position: absolute;
  display:block;
  top:30px;right:20px;
  width:143px; height:83px;
  background:url(/i_plus/invoice.png) no-repeat left top;

}

/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

/************** admin **********************/

table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
    height: 200px;
}

#save {
    width: 100px;
}